.module-collapsible {
    border: 2px solid #888;
    background: #282828;
    border-radius: 10px;
    padding: 10px;
    margin: 3px 0;
}

.module-description {
    font-size: 0.9rem;
}

.module-description:not(:last-child) {
    margin-bottom: 10px;
}
